

.titlecontainer{
    background-color: #000000;
    
}



.collapsible{
    margin: 10px auto;
    max-width: 100%;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.description{
    color:#000000
    
}
li{
    list-style: none;
}

.description {
    margin: -5px 0px 20px 0px;
    font-weight: bold;
  }
  
  .msg-event {
    text-align: justify;
    text-align-last: center;
  }

  .collapsible-body {
    background-color: #FFFADE;
    padding: 40px;
    max-width:100%;
  }


.responsive-img{
    max-width: 50%;
    margin:5px auto;
}
body{
    margin:0;
    padding:0;
    background-color: #CCCC99; 
    background-size: cover;
    background-position: bottom center;
}

blockquote{
    padding:25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFFADE;
    
}

.timeline{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}

.main{
    background-image: url(tes1.jpg); 
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    
    margin:0;
    padding:20px;
    color: #CC0033;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size:40px;
}
  
  .title {
    padding-top : 3%;
  }
  .subtitle {
    margin: -15px 0px 35px 0px;
  }
  
  .quote {
    font-weight: bold;
    font-size: medium;
    margin: 35px 0px 15px 0px;
  }
  
  .source-quote {
    font-size: small;
  }
  
  .timeline,
  .fun-facts {
    margin: 80px 0px 50px 0px;
    font-size: xx-large;
  }
  
  .title-event {
    font-weight: bold;
    font-size: large;
  }
  
  .date-event {
    font-size: x-large;
    color:#CC0033;
  }
  
  
  
  
  
  .link {
    width: 100%;
    margin: 0px 0px 25px 0px;
  }
  
 
  

footer{
    color:rgb(73, 135, 107);
    background-color: #CCCC99; 
    border-top:5px solid rgb(0, 0, 0);
    padding: 30px;
    margin:0;
    width:100%;
}


 
  
  .world-history-project,
  .ovelny,
  .share {
    font-weight: bold;
  }
  
  .icon {
    padding: 0px 0px 0px 10px;
    vertical-align: -3px;
  }
  
  .msg-event{
    font-size: 25px;
  }


.source-quote{
    font-size: 15px;
}



  @media screen and (max-width:680px){
    .main{
        background-image: url(tes1.jpg); 
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        height: 80%;
    margin:0;
    padding:20px;
    color: #CC0033;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    /* text-align: left;*/
    font-size: 20px;
}
    .timeline{
        color:#CC0033;
        border-color: #CC0033;
  
}

}